<% content_for :page_title do %>
  <%= t('admin.news.new.title') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to admin_news_index_path, class: "btn btn-secondary" do %>
    <i class="fas fa-arrow-left me-1"></i> <%= t('admin.news.new.back') %>
  <% end %>
  <button type="submit" form="news-form" class="btn btn-outline-light">
    <i class="fas fa-save me-1"></i> <%= t('admin.news.form.create') %>
  </button>
<% end %>

<div class="card bg-dark text-white">
  <div class="card-body">
    <%= render 'form', news: @news %>
  </div>
</div> 