<% content_for :page_title do %>
  <%= t('indirect_costs.show.title') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to edit_indirect_cost_path(@extra), class: "btn btn-outline-light me-2" do %>
    <i class="fas fa-edit me-1"></i><%= t('indirect_costs.show.edit') %>
  <% end %>
  <%= button_to indirect_cost_path(@extra), method: :delete, 
      class: "btn btn-outline-danger me-2", 
      form: { data: { turbo_confirm: t('indirect_costs.show.delete_confirm') } } do %>
    <i class="fas fa-trash me-1"></i><%= t('indirect_costs.show.delete') %>
  <% end %>
  <%= link_to indirect_costs_path, class: "btn btn-outline-light" do %>
    <i class="fas fa-arrow-left me-1"></i><%= t('indirect_costs.show.back_to_extras') %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3><%= @extra.name %></h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <strong><%= t('indirect_costs.show.name') %>:</strong>
            <p><%= @extra.name %></p>
          </div>
          <div class="col-md-6">
            <strong><%= t('indirect_costs.show.cost') %>:</strong>
            <p><%= number_to_currency(@extra.cost) %></p>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-6">
            <strong><%= t('indirect_costs.show.unit') %>:</strong>
            <p>
              <%= @extra.unit&.name || t('indirect_costs.show.not_specified') %>
              <% if @extra.unit&.abbreviation.present? %>
                (<%= @extra.unit.abbreviation %>)
              <% end %>
            </p>
          </div>
          <div class="col-md-6">
            <strong><%= t('indirect_costs.show.description') %>:</strong>
            <p><%= simple_format(@extra.description) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


