<% content_for :page_title do %>
  <%= t('processes.show.title') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to edit_manufacturing_process_path(@manufacturing_process), class: "btn btn-outline-light me-2" do %>
    <i class="fas fa-edit me-1"></i><%= t('processes.show.edit') %>
  <% end %>
  <%= button_to manufacturing_process_path(@manufacturing_process), method: :delete, 
      class: "btn btn-outline-danger me-2", 
      form: { data: { turbo_confirm: t('processes.show.delete_confirm') } } do %>
    <i class="fas fa-trash me-1"></i><%= t('processes.show.delete') %>
  <% end %>
  <%= link_to manufacturing_processes_path, class: "btn btn-outline-light" do %>
    <i class="fas fa-arrow-left me-1"></i><%= t('processes.show.back_to_processes') %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3><%= @manufacturing_process.name %></h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <strong><%= t('processes.show.name') %>:</strong>
            <p><%= @manufacturing_process.name %></p>
          </div>
          <div class="col-md-6">
            <strong><%= t('processes.show.cost') %>:</strong>
            <p><%= number_to_currency(@manufacturing_process.cost) %></p>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
            <strong><%= t('processes.show.unit') %>:</strong>
            <p><%= @manufacturing_process.unit&.name || t('processes.show.not_specified') %></p>
          </div>
          <div class="col-md-4">
            <strong><%= t('processes.show.side', default: 'Cara') %>:</strong>
            <p>
              <span class="badge bg-info">
                <%= @manufacturing_process.side_label %>
              </span>
            </p>
          </div>
          <div class="col-md-4">
            <strong><%= t('processes.show.description') %>:</strong>
            <p><%= simple_format(@manufacturing_process.description) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
