<%= form_with(model: price_margin, id: "price-margin-form") do |form| %>
  <% if price_margin.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('price_margins.form.errors', count: price_margin.errors.count) %></h4>
      <ul>
        <% price_margin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 mb-3">
      <%= form.label :min_price, t('price_margins.form.min_price'), class: "form-label" %>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <%= form.number_field :min_price, class: "form-control", step: "0.01", min: 0, required: true %>
      </div>
    </div>
    
    <div class="col-md-4 mb-3">
      <%= form.label :max_price, t('price_margins.form.max_price'), class: "form-label" %>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <%= form.number_field :max_price, class: "form-control", step: "0.01", min: 0, required: true %>
      </div>
    </div>
    
    <div class="col-md-4 mb-3">
      <%= form.label :margin_percentage, t('price_margins.form.margin_percentage'), class: "form-label" %>
      <div class="input-group">
        <%= form.number_field :margin_percentage, class: "form-control", step: "0.01", min: 0, max: 100, required: true %>
        <span class="input-group-text">%</span>
      </div>
    </div>
  </div>
<% end %> 