<% content_for :page_title do %>
  <%= t('price_margins.edit.title') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to price_margins_path, class: "btn btn-outline-light me-2" do %>
    <%= t('common.cancel') %>
  <% end %>
  <%= button_tag class: "btn btn-outline-light", form: "price-margin-form" do %>
    <%= t('common.save') %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-12">
    <div class="green-accent-panel">
      <div class="card">
        <div class="card-body p-3">
        <%= render 'form', price_margin: @price_margin %>
        </div>
      </div>
    </div>
  </div>
</div>
