<% content_for :page_title do %>
  <%= t('materials.show.title') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to edit_material_path(@material), class: "btn btn-outline-light me-2" do %>
    <i class="fas fa-edit me-1"></i><%= t('materials.show.edit') %>
  <% end %>
  <%= button_to material_path(@material), method: :delete, 
      class: "btn btn-outline-danger me-2", 
      form: { data: { turbo_confirm: t('materials.show.delete_confirm') } } do %>
    <i class="fas fa-trash me-1"></i><%= t('materials.show.delete') %>
  <% end %>
  <%= link_to materials_path, class: "btn btn-outline-light" do %>
    <i class="fas fa-arrow-left me-1"></i><%= t('materials.show.back_to_materials') %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h3><%= @material.description %></h3>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <strong><%= t('materials.show.client_description') %>:</strong> 
            <p><%= @material.client_description.present? ? @material.client_description : t('materials.show.not_available') %></p>
          </div>
          <div class="col-md-6">
            <strong><%= t('materials.show.unit') %>:</strong> 
            <p><%= @material.unit.name %> (<%= @material.unit.abbreviation %>)</p>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-6">
            <strong><%= t('materials.show.price') %>:</strong> 
            <p><%= number_to_currency(@material.cost) %></p>
          </div>
          <div class="col-md-6">
            <strong><%= t('materials.show.dimensions') %>:</strong> 
            <p>
              <% if @material.ancho.present? && @material.largo.present? %>
                <%= @material.ancho %> x <%= @material.largo %>
              <% elsif @material.ancho.present? %>
                <%= t('materials.show.width') %>: <%= @material.ancho %>
              <% elsif @material.largo.present? %>
                <%= t('materials.show.length') %>: <%= @material.largo %>
              <% else %>
                <%= t('materials.show.not_available') %>
              <% end %>
            </p>
          </div>
        </div>
        
        <% if @material.resistance.present? %>
          <div class="row mb-3">
            <div class="col-12">
              <strong><%= t('materials.show.resistance') %>:</strong>
              <p><%= @material.resistance %></p>
            </div>
          </div>
        <% end %>
        
        <% if @material.comments.present? %>
          <div class="row mb-3">
            <div class="col-12">
              <strong><%= t('materials.show.comments') %>:</strong> 
              <p><%= @material.comments %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
