<div class="row">
  <div class="col-12 mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @extra.name %></h1>
      <div>
        <%= link_to edit_extra_path(@extra), class: "btn btn-outline-primary me-2" do %>
          <i class="fa fa-edit me-1"></i> Edit
        <% end %>
        <%= link_to extras_path, class: "btn btn-outline-secondary" do %>
          <i class="fa fa-arrow-left me-1"></i> Back
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Extra Details</h5>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-3 col-lg-2">
            <strong>Name:</strong>
          </div>
          <div class="col-md-9 col-lg-10">
            <%= @extra.name %>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-3 col-lg-2">
            <strong>Cost:</strong>
          </div>
          <div class="col-md-9 col-lg-10">
            <%= number_to_currency(@extra.cost) %>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-3 col-lg-2">
            <strong>Unit:</strong>
          </div>
          <div class="col-md-9 col-lg-10">
            <%= @extra.unit&.name || "Not specified" %>
            <% if @extra.unit&.abbreviation.present? %>
              (<%= @extra.unit.abbreviation %>)
            <% end %>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-3 col-lg-2">
            <strong>Description:</strong>
          </div>
          <div class="col-md-9 col-lg-10">
            <%= simple_format(@extra.description) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
